/* 
Document   : style
Created on : 08/07/2009, 13:49:18
Author     : Eder
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#corFundo{
    background-color:#ccccff;
    overflow:auto;
    height:73%;
    padding:10px;
}
#scroll{
    height:80%;
    background-color:#ccccff;
    overflow:auto;
    padding:3px;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-color: #0f0f50;
    border-bottom-color: #0f0f50;
    border-left-color: #0f0f50;
    border-right-color: #0f0f50;

}
#logar{
    width:24%;
    height:30%;
    float:right;
    padding:1px;
    border: 5px black solid;
    background-color:olive;
    
}

#tabela{
    background-color:olive;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-color: #0f0f50;
    border-bottom-color: #0f0f50;
    border-left-color: #0f0f50;
    border-right-color: #0f0f50;
}
#tabela1{
    overflow:auto;
    width:99%;
    height:70%;
    background-color:olive;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-color: #0f0f50;
    border-bottom-color: #0f0f50;
    border-left-color: #0f0f50;
    border-right-color: #0f0f50;
}
.cinza{
    background-color:silver;
    overflow:auto;
}
#obrigatorio{
    color:red;
    background-color:black;
}
#erro{
    color:black;
    font-size:150%;
}
#titulo{
    font-size:300%;
}
#pesquisa{
    background-color:gray;
    width: 50%;
}
#resultado{
    background-color:teal;
    width:300px;
}
#border{
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    width:700px;
    padding:50px;
}
#direita{
    text-align:center;

}
#imprimir{
    background-color:orange;
    padding:10px;
}
div.menu{
    border:1px black solid;
    background-color:gray;
    text-decoration:none;
    max-width:15%;
    height:97%;
    margin-right:3px;
    float:left;
}

div.menu a{
    
    font:bold;
    border:1px solid white;
    color:#000000;
    background-color: #ada369;
}
div.menu a:hover{
    
    color:black;
    background-color: #9aa369;
}
div.conteudo{
    max-width:100%;
    height:93%;
    background-color:#ccccff;
    padding:3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-color: #0f0f50;
    border-bottom-color: #0f0f50;
    border-left-color: #0f0f50;
    border-right-color: #0f0f50;
}
